In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Modelo Predictivo

In [6]:
pred = pd.read_csv('./pred_mensual.csv')

In [7]:
pred

            ds          yhat
0   2024-09-30  2.694377e+06
1   2024-10-31  3.098849e+06
2   2024-11-30  2.382334e+06
3   2024-12-31  2.679796e+06
4   2025-01-31  2.756896e+06
5   2025-02-28  2.595567e+06
6   2025-03-31  3.009900e+06
7   2025-04-30  2.933629e+06
8   2025-05-31  3.010706e+06
9   2025-06-30  2.924452e+06
10  2025-07-31  2.598633e+06
11  2025-08-31  2.548886e+06
12  2025-09-30  2.746337e+06
13  2025-10-31  3.189455e+06
14  2025-11-30  2.679493e+06
15  2025-12-31  2.887851e+06
16  2026-01-31  2.876347e+06
17  2026-02-28  2.763154e+06

In [8]:
pred.rename(columns={'ds':'Fecha','yhat':'Numero total de viajes'},inplace=True)

In [9]:
pred

         Fecha  Numero total de viajes
0   2024-09-30            2.694377e+06
1   2024-10-31            3.098849e+06
2   2024-11-30            2.382334e+06
3   2024-12-31            2.679796e+06
4   2025-01-31            2.756896e+06
5   2025-02-28            2.595567e+06
6   2025-03-31            3.009900e+06
7   2025-04-30            2.933629e+06
8   2025-05-31            3.010706e+06
9   2025-06-30            2.924452e+06
10  2025-07-31            2.598633e+06
11  2025-08-31            2.548886e+06
12  2025-09-30            2.746337e+06
13  2025-10-31            3.189455e+06
14  2025-11-30            2.679493e+06
15  2025-12-31            2.887851e+06
16  2026-01-31            2.876347e+06
17  2026-02-28            2.763154e+06

In [5]:
prom = pd.read_csv('./prom_mes.csv')
prom

    month  n_trips  passenger_trip  distance_trip  total_trip  duration_trip
0       1  5009770        1.325596       1.700425   19.295447      10.939181
1       2  4927964        1.313523       1.700299   19.467213      11.218028
2       3  8779262        1.336285       1.749590   18.038429      11.315791
3       4  8498586        1.349199       1.778195   18.171339      11.487335
4       5  8687792        1.336810       1.766766   18.426365      11.807644
5       6  8381993        1.342060       1.767946   18.344246      11.681971
6       7  7397454        1.363163       1.775301   18.096949      11.339553
7       8  7210114        1.356174       1.771640   18.081007      11.321641
8       9  4731211        1.340542       1.717307   17.674334      11.952663
9      10  5711612        1.342891       1.719452   17.710573      12.012773
10     11  5255890        1.346657       1.696510   17.623438      11.952544
11     12  5355429        1.377263       1.680733   18.358967      11.891649

In [10]:
# Primero, agregamos una columna "Mes" a la tabla "pred" para extraer el mes de la columna 'Fecha'.
pred['Mes'] = pd.to_datetime(pred['Fecha']).dt.month

# Hacemos un merge entre las dos tablas usando la columna "Mes" en pred y "month" en prom.
pred_combined = pred.merge(prom, left_on='Mes', right_on='month')

pred_combined

,Fecha,Numero total de viajes,Mes,month,n_trips,passenger_trip,distance_trip,total_trip,duration_trip
0,2024-09-30,2.694377e+06,9,9,4731211,1.340542,1.717307,17.674334,11.952663
1,2024-10-31,3.098849e+06,10,10,5711612,1.342891,1.719452,17.710573,12.012773
2,2024-11-30,2.382334e+06,11,11,5255890,1.346657,1.696510,17.623438,11.952544
3,2024-12-31,2.679796e+06,12,12,5355429,1.377263,1.680733,18.358967,11.891649
4,2025-01-31,2.756896e+06,1,1,5009770,1.325596,1.700425,19.295447,10.939181
5,2025-02-28,2.595567e+06,2,2,4927964,1.313523,1.700299,19.467213,11.218028
6,2025-03-31,3.009900e+06,3,3,8779262,1.336285,1.749590,18.038429,11.315791
7,2025-04-30,2.933629e+06,4,4,8498586,1.349199,1.778195,18.171339,11.487335
8,2025-05-31,3.010706e+06,5,5,8687792,1.336810,1.766766,18.426365,11.807644
9,2025-06-30,2.924452e+06,6,6,8381993,1.342060,1.767946,18.344246,11.681971
10,2025-07-31,2.598633e+06,7,7,7397454,1.363163,1.775301,18.096949,11.339553
11,2025-08-31,2.548886e+06,8,8,7210114,1.356174,1.771640,18.081007,11.321641
12,2025-09-30,2.746337e+06,9,9,4731211,1.340542,1.717307,17.674334,11.952663
13,2025-10-31,3.189455e+06,10,10,5711612,1.342891,1.719452,17.710573,12.012773
14,2025-11-30,2.679493e+06,11,11,5255890,1.346657,1.696510,17.623438,11.952544
15,2025-12-31,2.887851e+06,12,12,5355429,1.377263,1.680733,18.358967,11.891649
16,2026-01-31,2.876347e+06,1,1,5009770,1.325596,1.700425,19.295447,10.939181
17,2026-02-28,2.763154e+06,2,2,4927964,1.313523,1.700299,19.467213,11.218028

In [ ]:
# Ahora calculamos las nuevas columnas multiplicando cada columna por el valor de "Numero total de viajes".
pred_combined['Numero total de pasajeros'] = pred_combined['Numero total de viajes'] * pred_combined['passenger_trip']
pred_combined['Distancia total recorrida (mi)'] = pred_combined['Numero total de viajes'] * pred_combined['distance_trip']
pred_combined['Ingreso total (USD)'] = pred_combined['Numero total de viajes'] * pred_combined['total_trip']
pred_combined['Duración total recorrido (min)'] = pred_combined['Numero total de viajes'] * pred_combined['duration_trip']

# Opcional: si ya no necesitas las columnas 'Mes' y 'month', puedes eliminarlas.
pred_combined.drop(columns=['Mes', 'month','passenger_trip', 'distance_trip','total_trip','duration_trip'], inplace=True)

# Visualizamos el resultado
pred_combined

,Fecha,Numero total de viajes,n_trips,passenger_trip,distance_trip,total_trip,duration_trip,Numero total de pasajeros,Distancia total recorrida (mi),Ingreso total (USD),Duración total recorrido (min)
0,2024-09-30,2.694377e+06,4731211,1.340542,1.717307,17.674334,11.952663,3.611924e+06,4.627073e+06,4.762132e+07,3.220498e+07
1,2024-10-31,3.098849e+06,5711612,1.342891,1.719452,17.710573,12.012773,4.161415e+06,5.328322e+06,5.488239e+07,3.722577e+07
2,2024-11-30,2.382334e+06,5255890,1.346657,1.696510,17.623438,11.952544,3.208188e+06,4.041653e+06,4.198492e+07,2.847495e+07
3,2024-12-31,2.679796e+06,5355429,1.377263,1.680733,18.358967,11.891649,3.690785e+06,4.504022e+06,4.919829e+07,3.186719e+07
4,2025-01-31,2.756896e+06,5009770,1.325596,1.700425,19.295447,10.939181,3.654532e+06,4.687894e+06,5.319554e+07,3.015818e+07
5,2025-02-28,2.595567e+06,4927964,1.313523,1.700299,19.467213,11.218028,3.409338e+06,4.413239e+06,5.052846e+07,2.911715e+07
6,2025-03-31,3.009900e+06,8779262,1.336285,1.749590,18.038429,11.315791,4.022083e+06,5.266092e+06,5.429387e+07,3.405940e+07
7,2025-04-30,2.933629e+06,8498586,1.349199,1.778195,18.171339,11.487335,3.958050e+06,5.216563e+06,5.330796e+07,3.369958e+07
8,2025-05-31,3.010706e+06,8687792,1.336810,1.766766,18.426365,11.807644,4.024741e+06,5.319215e+06,5.547638e+07,3.554935e+07
9,2025-06-30,2.924452e+06,8381993,1.342060,1.767946,18.344246,11.681971,3.924791e+06,5.170272e+06,5.364686e+07,3.416336e+07
10,2025-07-31,2.598633e+06,7397454,1.363163,1.775301,18.096949,11.339553,3.542359e+06,4.613356e+06,4.702732e+07,2.946733e+07
11,2025-08-31,2.548886e+06,7210114,1.356174,1.771640,18.081007,11.321641,3.456733e+06,4.515708e+06,4.608643e+07,2.885757e+07
12,2025-09-30,2.746337e+06,4731211,1.340542,1.717307,17.674334,11.952663,3.681580e+06,4.716304e+06,4.853968e+07,3.282604e+07
13,2025-10-31,3.189455e+06,5711612,1.342891,1.719452,17.710573,12.012773,4.283090e+06,5.484115e+06,5.648708e+07,3.831420e+07
14,2025-11-30,2.679493e+06,5255890,1.346657,1.696510,17.623438,11.952544,3.608360e+06,4.545787e+06,4.722188e+07,3.202676e+07
15,2025-12-31,2.887851e+06,5355429,1.377263,1.680733,18.358967,11.891649,3.977332e+06,4.853708e+06,5.301797e+07,3.434132e+07
16,2026-01-31,2.876347e+06,5009770,1.325596,1.700425,19.295447,10.939181,3.812875e+06,4.891010e+06,5.550039e+07,3.146487e+07
17,2026-02-28,2.763154e+06,4927964,1.313523,1.700299,19.467213,11.218028,3.629467e+06,4.698186e+06,5.379090e+07,3.099714e+07

In [18]:
pred_combined = pred_combined.round(2)

In [20]:
pred_combined['Numero total de pasajeros'] = pred_combined['Numero total de pasajeros'].astype(int)
pred_combined['Numero total de viajes'] = pred_combined['Numero total de viajes'].astype(int)

In [21]:
pred_combined

,Fecha,Numero total de viajes,Numero total de pasajeros,Distancia total recorrida (mi),Ingreso total (USD),Duración total recorrido (min)
0,2024-09-30,2694376,3611924,4627072.56,47621317.19,32204978.73
1,2024-10-31,3098848,4161415,5328322.14,54882390.71,37225769.05
2,2024-11-30,2382334,3208187,4041653.36,41984915.95,28474953.70
3,2024-12-31,2679796,3690784,4504022.45,49198287.02,31867194.88
4,2025-01-31,2756896,3654531,4687893.99,53195543.70,30158184.78
5,2025-02-28,2595567,3409338,4413239.34,50528461.89,29117147.06
6,2025-03-31,3009900,4022083,5266092.45,54293869.51,34059400.84
7,2025-04-30,2933628,3958050,5216562.86,53307959.12,33699575.77
8,2025-05-31,3010706,4024741,5319215.13,55476377.34,35549351.15
9,2025-06-30,2924451,3924791,5170272.31,53646863.95,34163363.08
10,2025-07-31,2598632,3542358,4613355.85,47027318.96,29467330.56
11,2025-08-31,2548886,3456733,4515708.31,46086430.91,28857574.63
12,2025-09-30,2746337,3681579,4716304.50,48539682.41,32826043.71
13,2025-10-31,3189455,4283089,5484115.09,56487077.77,38314200.32
14,2025-11-30,2679493,3608359,4545787.07,47221884.50,32026763.53
15,2025-12-31,2887851,3977331,4853708.06,53017968.85,34341316.49
16,2026-01-31,2876346,3812874,4891010.39,55500392.65,31464874.32
17,2026-02-28,2763153,3629466,4698186.23,53790901.82,30997135.87

In [22]:
pred_combined.to_csv('predicciones.csv')

In [7]:
hist = pd.read_csv('mensual_ext.csv')
hist

,pickup_datetime,passenger_count,trip_distance,total_amount,duration,n_trips
0,2022-03-31,4270445,5654635.96,46130518.27,3.426591e+07,3075023
1,2022-04-30,4228947,5631284.80,45576361.41,3.418014e+07,3004149
2,2022-05-31,4069075,5489703.55,44850317.06,3.410236e+07,2926385
3,2022-06-30,4062172,5459604.00,44781679.81,3.402593e+07,2917367
4,2022-07-31,3724235,4982858.94,39702293.79,2.932747e+07,2627194
5,2022-08-31,3669188,4896650.61,39217964.21,2.909971e+07,2600258
6,2022-09-30,3522192,4713024.55,39442410.03,3.048464e+07,2552011
7,2022-10-31,4102538,5466063.56,45936698.79,3.558027e+07,2975223
8,2022-11-30,3650821,4779731.95,40597166.88,3.146803e+07,2639133
9,2022-12-31,3837745,4843577.29,46216127.33,3.246161e+07,2729661
10,2023-01-31,3543222,4652131.57,50656564.50,2.854050e+07,2600428
11,2023-02-28,3349627,4421749.78,48684946.12,2.780839e+07,2479012
12,2023-03-31,3844105,5021547.94,56315823.80,3.238302e+07,2845578
13,2023-04-30,3735920,4856023.90,53959493.20,3.115485e+07,2717075
14,2023-05-31,3880303,5069347.20,57654711.89,3.393648e+07,2861868
15,2023-06-30,3674808,4772121.54,54135070.89,3.160769e+07,2697594
16,2023-07-31,3298440,4220673.60,47108042.96,2.716012e+07,2380509
17,2023-08-31,3160061,4111613.92,45831092.60,2.636169e+07,2310855
18,2023-09-30,2834965,3460189.95,43351361.13,2.606321e+07,2179200
19,2023-10-31,3576133,4382900.21,54676872.61,3.301915e+07,2736389
20,2023-11-30,3427883,4139501.57,51979545.55,3.135258e+07,2616757
21,2023-12-31,3541070,4167204.54,51955671.11,3.122333e+07,2625768
22,2024-01-31,3104773,3883527.49,46044469.28,2.626918e+07,2409342
23,2024-02-29,3124501,3959766.71,47253940.40,2.747364e+07,2448952
24,2024-03-31,3628203,4703052.88,55237790.42,3.265720e+07,2858661
25,2024-04-30,3513134,4646128.88,54112655.33,3.226751e+07,2777362
26,2024-05-31,3665269,4793006.98,57431400.26,3.453748e+07,2899539
27,2024-06-30,3518328,4602663.12,54274764.28,3.227933e+07,2767032
28,2024-07-31,3073970,3958011.44,46336627.14,2.735367e+07,2389751
29,2024-08-31,2965596,3799140.73,44434461.21,2.613062e+07,2299001

In [31]:
datos_hist = hist[['pickup_datetime','n_trips','passenger_count', 'trip_distance', 'total_amount',
       'duration']]

In [26]:
hist.columns

Index(['pickup_datetime', 'passenger_count', 'trip_distance', 'total_amount',
       'duration', 'n_trips'],
      dtype='object')

In [32]:
datos_hist.rename(columns={'pickup_datetime': 'Fecha',
                    'passenger_count': 'Numero total de pasajeros',
                    'trip_distance': 'Distancia total recorrida (mi)',
                    'total_amount': 'Ingreso total (USD)',
                    'duration': 'Duración total recorrido (min)',
                    'n_trips': 'Numero total de viajes'
                }, inplace=True)

In [33]:
datos_hist

,Fecha,Numero total de viajes,Numero total de pasajeros,Distancia total recorrida (mi),Ingreso total (USD),Duración total recorrido (min)
0,2022-03-31,3075023,4270445,5654635.96,46130518.27,3.426591e+07
1,2022-04-30,3004149,4228947,5631284.80,45576361.41,3.418014e+07
2,2022-05-31,2926385,4069075,5489703.55,44850317.06,3.410236e+07
3,2022-06-30,2917367,4062172,5459604.00,44781679.81,3.402593e+07
4,2022-07-31,2627194,3724235,4982858.94,39702293.79,2.932747e+07
5,2022-08-31,2600258,3669188,4896650.61,39217964.21,2.909971e+07
6,2022-09-30,2552011,3522192,4713024.55,39442410.03,3.048464e+07
7,2022-10-31,2975223,4102538,5466063.56,45936698.79,3.558027e+07
8,2022-11-30,2639133,3650821,4779731.95,40597166.88,3.146803e+07
9,2022-12-31,2729661,3837745,4843577.29,46216127.33,3.246161e+07
10,2023-01-31,2600428,3543222,4652131.57,50656564.50,2.854050e+07
11,2023-02-28,2479012,3349627,4421749.78,48684946.12,2.780839e+07
12,2023-03-31,2845578,3844105,5021547.94,56315823.80,3.238302e+07
13,2023-04-30,2717075,3735920,4856023.90,53959493.20,3.115485e+07
14,2023-05-31,2861868,3880303,5069347.20,57654711.89,3.393648e+07
15,2023-06-30,2697594,3674808,4772121.54,54135070.89,3.160769e+07
16,2023-07-31,2380509,3298440,4220673.60,47108042.96,2.716012e+07
17,2023-08-31,2310855,3160061,4111613.92,45831092.60,2.636169e+07
18,2023-09-30,2179200,2834965,3460189.95,43351361.13,2.606321e+07
19,2023-10-31,2736389,3576133,4382900.21,54676872.61,3.301915e+07
20,2023-11-30,2616757,3427883,4139501.57,51979545.55,3.135258e+07
21,2023-12-31,2625768,3541070,4167204.54,51955671.11,3.122333e+07
22,2024-01-31,2409342,3104773,3883527.49,46044469.28,2.626918e+07
23,2024-02-29,2448952,3124501,3959766.71,47253940.40,2.747364e+07
24,2024-03-31,2858661,3628203,4703052.88,55237790.42,3.265720e+07
25,2024-04-30,2777362,3513134,4646128.88,54112655.33,3.226751e+07
26,2024-05-31,2899539,3665269,4793006.98,57431400.26,3.453748e+07
27,2024-06-30,2767032,3518328,4602663.12,54274764.28,3.227933e+07
28,2024-07-31,2389751,3073970,3958011.44,46336627.14,2.735367e+07
29,2024-08-31,2299001,2965596,3799140.73,44434461.21,2.613062e+07

In [42]:
datos_hist.to_csv('hist_mensual.csv',index=False)

In [35]:
hist_dia = pd.read_csv('diario_ext.csv')

In [40]:
hist_dia

,Fecha,Numero total de viajes,Numero total de pasajeros,Distancia total recorrida (mi),Ingreso total (USD),Duración total recorrido (min)
0,2022-03-01,98010,132487,176853.39,1477232.33,1.114175e+06
1,2022-03-02,103464,139160,187249.09,1558147.97,1.167082e+06
2,2022-03-03,111489,151337,199509.40,1682571.12,1.267075e+06
3,2022-03-04,110500,153467,199166.94,1675753.66,1.270830e+06
4,2022-03-05,105113,154483,201146.77,1572586.77,1.168040e+06
...,...,...,...,...,...,...
910,2024-08-27,73266,91633,120296.62,1418567.88,8.241690e+05
911,2024-08-28,81088,101202,130843.35,1570150.82,9.204025e+05
912,2024-08-29,76483,96395,124708.58,1498053.45,8.947159e+05
913,2024-08-30,70549,93284,117497.43,1362134.53,7.960895e+05
914,2024-08-31,68004,96690,119262.25,1265888.02,7.438927e+05

In [37]:
hist_dia = hist_dia[['pickup_datetime','n_trips','passenger_count', 'trip_distance', 'total_amount',
       'duration']]

In [39]:
hist_dia.rename(columns={'pickup_datetime': 'Fecha',
                    'passenger_count': 'Numero total de pasajeros',
                    'trip_distance': 'Distancia total recorrida (mi)',
                    'total_amount': 'Ingreso total (USD)',
                    'duration': 'Duración total recorrido (min)',
                    'n_trips': 'Numero total de viajes'
                }, inplace=True)

In [43]:
hist_dia.to_csv('hist_diario.csv',index=False)